[mysql]
host=127.0.0.1
port=3306
user=root
password=
database=gimnas

[updates]
current_version=2025.11.24
feed_url=https://raw.githubusercontent.com/aemon1977/Gimnas2/main/updates.json
auth_token=

[license]
key=
